.nav-link{
    color: #fff !important;
    margin: auto !important;
}
.navbar-brand .e{
    color: yellow !important;
}
.navbar-brand .shop{
    color: white !important;
}
.navbar-brand{
    font-weight: bold !important;
    font-size: 1.4rem !important;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2021/03/19/13/40/online-6107598__340.png');
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.hero h1{
    text-align: center;
    color: #fff;
    padding-top: 70px;
    font-weight: bold;
}
.box-mod{
    background-color: #fff;
    width: 650px;
    height: 600px;
    margin: auto;
    margin-top: 80px;
}